<div class='main'>

  <h3>
    {{stat.text}}
  </h3>

  <div
    class='statButton'
    *ngIf="stat.end"
    (click)="statReset()"
  >
    запустить сотню
  </div>

  <h1>
    {{task.x1}} {{task.operation}} {{task.x2}} = {{task.x3}}
  </h1>

  <ul>
    <li
      *ngFor="let item of task.answers"
      (click)="onSelect(item)"
      [class.greenButton]="task.correctFound && item == task.correctAnswer"
      [class.redButton]="task.answered.indexOf(item) >= 0"
      [class.orangeButton]="task.timeEnd && item == task.correctAnswer && !task.correctFound"
    >
      {{item}}
    </li>
  </ul>

  <div
    class='nextButton'
    *ngIf="task.correctFound || task.timeEnd"
    (click)="nextQ()"
  >
    Следующий
  </div>

  <div class="footer">
    <span>
      0.23
    </span>
  </div>

  <div
    *ngIf="!task.correctFound && !task.timeEnd"
    class='bomb'
    [class.bsmall]="timeLeft % 2 == 1"
  >
    💣
  </div>

  <div
    *ngIf="!task.correctFound && task.timeEnd"
    class='boom'
  >
    💥
  </div>

</div>