<div class='main'>
  <h3
    [class.statTextOn]="!stat.end"
  >
    {{stat.text}}
  </h3>

  <div
    class='statButton'
    *ngIf="stat.end"
    (click)="statReset(100)"
  >
    запустить 100
  </div>

  <div
    class='statButton'
    *ngIf="stat.end"
    (click)="statReset(50)"
  >
    запустить 50
  </div>

  <div
    class='statButton'
    *ngIf="stat.end"
    (click)="statReset(25)"
  >
    запустить 25
  </div>

  <h1>
    {{task.x1}} {{task.operation}} {{task.x2}} = {{task.x3}}
  </h1>

  <ul>
    <li
      class='liButton'
      *ngFor="let item of task.answers"
      (click)="onSelect(item)"
      [class.greenButton]="task.correctFound && item == task.correctAnswer"
      [class.redButton]="task.answered.indexOf(item) >= 0"
      [class.orangeButton]="task.timeEnd && item == task.correctAnswer && !task.correctFound"
    >
      {{item}}
    </li>
  </ul>

  <div
    class='nextButton'
    *ngIf="task.correctFound || task.timeEnd"
    (click)="nextQ()"
  >
    Следующий
  </div>


  <ul *ngIf='false'>
    <li
      *ngFor="let item of paramlog()"
    >
      {{item}}
    </li>
  </ul>

  <div class="footer">
    <span>
      0.27
    </span>
  </div>

  <div
    *ngIf="!task.correctFound && !task.timeEnd"
    class='bomb'
    [class.bsmall]="timeLeft % 2 == 1"
  >
    💣
  </div>

  <div
    *ngIf="!task.correctFound && task.timeEnd"
    class='boom'
  >
    💥
  </div>

</div>