.buttonContainer{
  display: flex;
  justify-content: center;
}

.gridContainer{
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
  justify-self: center;
}

.gridItem {
  align-self: center;
  justify-self: center;
}

.liButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid green 1px;
  background-color: lightgray;
  width: 60px;
  height: 60px;
  font-size: larger;
}

ul {
  margin: 0px;
  padding: 0px;
}

.greenButton {
  background-color: green;
  font-weight: bolder;
}

.redButton {
  background-color: lightsalmon;
  text-decoration: line-through;
}

.orangeButton {
  background-color: orange;
  font-weight: bolder;
}

h1 {
  margin: 9px;
}

.main {
  text-align: center;
  font-family: Avenir,Helvetica,Arial,sans-serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  
  color: lightgray;
  font-size: smaller;
	width: 100%;
	height: 20px;
}

.nextButton {
  display: inline-block;
  min-width: 200px;
  padding: 10px;
  margin: 20px;
  background-color: lightgreen;
  border: #42b983 solid 1px;
}

.startContainer{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.forParentsButton {
  min-width: 230px;
  width: 230px;
  padding: 10px;
  margin: 5px;
  border: #4246b9 solid 1px;
}

.forParentsButtonCenter{
  text-align: center;
  display: grid;
  justify-content: center;
  margin-bottom: 15px;
}

.innerUl{
  margin-left: 30px;
}

.forParentsText li {
  margin: 15px;
  text-align: justify;
}

.forParentsText{
  max-width: 600px;
  text-align: left;
}

.startButton {
  min-width: 230px;
  width: 230px;
  padding: 10px;
  margin: 5px;
  border: #42b983 solid 1px;
}

.statTextOn {
  color: lightgray;
}

.statTable{
  border: 1px solid grey;
  border-collapse: collapse;
  font-size: small;
  width: 252px;
  margin: 5px;
  text-align: left;
}

td, th {
  border: 1px solid grey;
  padding: 3px;
}

.bomb {
  position: absolute;
	left: 10px;
  top: 10px;
  font-size: x-large;
  text-align: center;
}

.bsmall {
  font-size: small;
  left: 20px;
  top: 20px;
}

.boom {
  position: absolute;
	left: 10px;
  top: 10px;
  font-size: x-large;
  text-align: center;
}