<div class='main'>
  <h3
    [class.statTextOn]="!stat.end"
    *ngIf="!showForParents"
  >
    {{stat.text}}
  </h3>

  <div
    class ='startContainer'
    *ngIf="stat.end"
  >
    <div
      *ngIf="!showForParents"
    >
      <div
        class='startButton'
        (click)="statReset(25)"
      >
        Запустить 25
      </div>

      <div
        class='startButton'
        (click)="statReset(50)"
      >
      Запустить 50
      </div>

      <div
        class='startButton'
        (click)="statReset(100)"
      >
      Запустить 100
      </div>

      <div
        class='forParentsButton'
        (click)="forParentsToggle()"
      >
        Родителям
      </div>
    </div>

    <div
      class='forParentsText'
      *ngIf="showForParents"
    >
      <h1>
        Родителям
      </h1>
      <p>
        Немного про то, как работает программа.
      </p>
      <p>
        Программа помогает освоить умножение и деление от 1*1 до 12*12.
      </p>
      <p>
        Алгоритм прогаммы подстраивается под ребенка. Например, начинается всё с простых чисел. Чем больше правильных ответов, тем выше уровень сложности и простые задачи появляются реже. Также, алгоритм запоминает по-отдельности, какие числа ребенку решать легко, а какие сложно: правильный ответ делает появление чесел более редким, а неправильный более частым.
      </p>
      <p>
        Сложность для деления и умножения учитывается отдельно.
      </p>
      <p>
        Задание случайным образом строится тремя способами:
        <li>операнд1 * операнд2 = ?</li>
        <li>операнд1 * ? = ответ</li>
        <li>? * операнд2 = ответ</li>
      </p>
      <p>
        Вместо знака '?', изредка попадается 'X', 'Y', 'Z', 'A', 'B', 'C'.
      </p>
      <p>
        Когда необходимо найти произведение или частное, то ответы на задание подбираются как близкие и сортируются случайным образом. Один правильный. Два ответа для соседних операндов. Например, если вопрос '4*6=?', то в ответах может появиться значение 28 (4*7) или 18 (3*6). Один ответ из соседнего десятка, но с таким же значением единиц. Например для 4*6=? в ответах может появиться 34 или 14. Два случайных ответов из текущего десятка. Для 4*6 - любой от 20 до 29. Когда надо выбрать правильный операнд, то выбираются случайные ближайшие ±5.
      </p>
      <p>
        Серии по '25', '50', '100' - это сколько примеров необходимо решить до завершения. После чего серия попадает в статистку.
      </p>
      <p>
        При неправильном ответе, внутри серии, добавляется один пример и меняется статистика.
      </p>
      <p>
        При истечении времени (20 сек.), внутри серии, показывается ответ и добавляется один пример в серию.
      </p>
      <p>
        На некоторые "хитрые" действия добавляется один пример в серию (например, поптытка обновить страницу в надежде увидеть другое задание и др.).
      </p>
      <p>
        Статистика видна на главном экране после завершения текущей серии.
      </p>
      <div
        class='forParentsButton'
        (click)="forParentsToggle()"
      >
        Закрыть
      </div>
    </div>
    
    <div
      *ngIf="!showForParents"
    >
      <table class='statTable'>
        <thead>
          <th>Дата</th>
          <th>Задач</th>
          <th>Правильно</th>
        </thead>
        <tr *ngFor="let item of histOf100" >
          <td>{{item.strDay}}</td>
          <td>{{item.all}}</td>
          <td>{{item.percent + '%'}}</td>
        </tr>
      </table>
    </div>

  </div>

  <div
    *ngIf="!stat.end"
  >
    <h1>
      {{task.x1}} {{task.operation}} {{task.x2}} = {{task.x3}}
    </h1>
    <h4
      *ngIf="task.questionSign != '?'"
    >
      {{task.questionSign}} = ?
    </h4>
    <div class ='buttonContainer'>
      <div class ='gridContainer'>
        <div
          class='gridItem'
          *ngFor="let item of task.answers"
          (click)="onSelect(item)"
        >
          <div
            class='liButton'
            [class.greenButton]="task.correctFound && item == task.correctAnswer"
            [class.redButton]="task.answered.indexOf(item) >= 0"
            [class.orangeButton]="task.timeEnd && item == task.correctAnswer && !task.correctFound"
          >&nbsp;{{item}}&nbsp;</div>
        </div>
      </div>
    </div>

    <div
      class='nextButton'
      *ngIf="task.correctFound || task.timeEnd"
      (click)="nextQ()"
    >
      Следующий
    </div>


    <ul *ngIf='false'>
      <li
        *ngFor="let item of paramlog()"
      >
        {{item}}
      </li>
    </ul>

    <div
      *ngIf="!task.correctFound && !task.timeEnd"
      class='bomb'
      [class.bsmall]="timeLeft % 2 == 1"
    >
      💣
    </div>

    <div
      *ngIf="!task.correctFound && task.timeEnd"
      class='boom'
    >
      💥
    </div>
  </div>

  <div class="footer">
    <span>
      {{version}}
    </span>
  </div>

</div>